@font-face {
    font-family: 'flama_book';
    src: url('../fonts/flama_book.otf') format('opentype');
}

@font-face {
    font-family: 'flama_medium';
    src: url('../fonts/flama_medium.otf') format('opentype');
}

.carousel {
    font-family: 'flama_medium', 'flama_book', san-serif;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
}

.carousel-title {
    font-family: 'flama_medium';
    padding-top: 8vh;
    padding-bottom: 8vh;
    margin-left: 2vw;
    align-self: flex-start;
}

.carousel-title span {
    font-size: 2.5vw;
    font-weight: lighter;
    margin: 20px 0;
}

.carousel-images {
    display: flex;
    overflow: hidden;
    /* justify-content: center; */
    /* align-items: center; */
}

.carousel-images img {
    /* flex-shrink: 0; */
    width: auto;
    display: none;
    max-width: 75%;
    margin: 0 auto;
    padding: 0 2vw;
    /* transition: transform 0.5s ease-in-out; */
}

.carousel-images img.active {
    display: block;
}

.carousel-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-button {
    border: none;
    background: none;
    font-size: 2em;
    margin-top: 4vw;
    margin-left: -2vw;
    padding-right: 3vw;
    transform: scale3d(0.8, 1.4, 1);
}

.carousel-button:hover{
    color: gray;
    cursor: pointer;
}

.carousel-text{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 4vw;
    margin-left: 4vw;
    margin-bottom: 4vw;
}

.carousel-text span{
    font-family: 'flama_medium';
    font-size: 2.2vw;
    margin: 2vw 0;
}

.carousel-text p{
    font-family: 'flama_book';
    font-size: 1.2vw;
    font-weight: lighter;
    width: 65%;
    margin: 2vw 0;
}

@media only screen and (max-width: 1000px) {
    .carousel{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .carousel-images img {
        height: 100%;
        width: auto;
        display: none;
        max-width: 95%;
        margin: 0 auto;
        padding: 0 2vw;
    }

    .carousel-title{
        margin-top: 4vw;
        margin-bottom: 4vw;
        width: 60%;
    }

    .carousel-title span{
        font-size: 4vw;
        font-weight: bold;
    }

    .carousel-text span{
        font-size: 4vw;
    }
    
    .carousel-text p{
        font-size: 3vw;
        font-weight: lighter;
    }
}