@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* change the color of the selected text */
::selection {
    background: #ffc640;
    color: black;
}


*{
    box-sizing: border-box;
    font-family: 'brandsRegular', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: black;
}

body {
    animation: fadeIn 2s ease-in-out;
}

.theEntireBody{
    /* center everything */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}